* {
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    margin-left: 16px;
    list-style-type: "– ";
}

.top:hover {
    text-decoration: underline;
}

hr {
    margin: 0px;
    border: 1px solid black;
    background-color: black;
    width: 10%;
    min-width: 400px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}





/*BUTTON*/
.button {
    border: 1px solid black;
    padding: 16px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;

}

.button:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}





/*NAV BAR*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
}

#title {
    font-size: 18px;
    font-weight: normal;
}

nav .navigation {
    display: flex;
    gap: 50px;
    font-size: 18px;
}

.top {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: 0.3s;
}

.top:hover {
    outline: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
}

.title-section {
    min-width: 400px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

/*BANNER*/

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border: 4px solid white;
    border: 1px solid black;
    background: rgb(242, 175, 253);
    background: linear-gradient(125deg, rgba(242, 175, 253, 1) 0%, rgba(240, 149, 255, 1) 100%);
}


/*PROJECT PREVIEW*/
.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 25vh;
}

.project-preview1 {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    gap: 50px;
    padding: 16px;
    transition: 0.5s;
}

.project-preview2 {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    gap: 50px;
    padding: 16px;
    transition: 0.5s;
}

.project-preview1:hover {
    outline: 1px solid black;
    border-radius: 20px;
}

.project-preview2:hover {
    outline: 1px solid black;
    border-radius: 20px;
}



.picture {
    padding-top: 16px;
    background: rgb(242, 175, 253);
    background: linear-gradient(125deg, rgba(242, 175, 253, 1) 0%, rgba(240, 149, 255, 1) 100%);
}

.project-header h2 {
    padding-top: 8px;
    margin: 0px;
}

.project-type {
    font-size: 16px;
    color: #444;
    text-decoration: none;
}





/*PAGE*/


.Title {
    width: 100%;
    font-size: 48px;
    min-width: 300px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.sections {
    display: flex;
    gap: 24px;
}

.middle-section {
    display: flex;
    flex-direction: column;
    gap: 70px;
    min-width: 400px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.middle-section p {
    font-size: 24px;
}

.middle-section h3 {
    font-size: 24px;
}

.middle-section li {
    font-size: 24px;
}

.subsection {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/*IMAGES*/

.image-wrapper {
    display: flex;
    justify-content: center;
    background-color: red;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}



/*BIG PICTURE*/

.figma-section {
    background-color: green;
    height: 20px;
}

.picture {
    width: 100%;
    background-color: red;
    height: auto;
}

.pic {
    width: 100%;
    height: 100px;
    background-color: red;
}